.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    width: 30rem;
    flex-grow: 1;
    border-radius: 0.4rem;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        transition: box-shadow 0.2s;
        box-shadow: 0 0.5rem 1rem 0.2rem #ccc;
    }
    &__img {
        margin: 1rem 2rem;
        width: 20rem;
        height: 20rem;
    }
    &__title {
        margin: auto;
        padding: 1rem 2rem;
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        color: $primary;
        &_small {
            font-size: 1.8rem;
        }
    }
}